@layer reset, base, theme, component;

@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
  10. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  body {
    font-size: normal;
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    background-color: var(--accent-color);
  }

  .card-container {
    display: grid;
    place-content: center;
    min-height: 100vh;
    max-width: 1440px;
    margin-inline: auto;

    @media (max-width: 420px) {
      max-width: 375px;
    }
  }
}

@layer theme {
  :root {
    --ff-base: 'Figtree', Arial, Helvetica, sans-serif;
    --fw-regular: 500;
    --fw-bold: 900;
    --fz-subtext: 0.875rem;
    --fz-title: 1.5rem;

    --accent-color: hsl(47, 88%, 63%);
    --white-color: hsl(0, 0%, 100%);
    --primary-color-500: hsl(0, 0%, 42%);
    --primary-color-950: hsl(0, 0%, 7%);

    @media (max-width: 420px) {
      --fz-subtext: 0.75rem;
      --fz-title: 1.25rem;
    }
  }
}

@layer component {
  .card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 386px;

    background-color: var(--white-color);
    border: 1px solid var(--primary-color-950);
    box-shadow: 10px 10px 0 0 var(--primary-color-950);
    padding: 1.5rem;
    border-radius: 1em;

    @media (max-width: 420px) {
      max-width: 330px;
    }
  }

  .card__cover {
    width: 100%;
    border-radius: 0.6em;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
  }

  .card__badge {
    font-size: var(--fz-subtext);
    font-weight: var(--fw-bold);
    background-color: var(--accent-color);
    padding: 0.3em 1em;
    border-radius: 0.4em;
    width: fit-content;
  }

  .card__date {
    font-size: var(--fz-subtext);
  }

  .card__title {
    width: fit-content;
    font-size: var(--fz-title);
    font-weight: var(--fw-bold);
  }

  .card__title:hover {
    color: var(--accent-color);
    cursor: pointer;
  }

  .card__content__text {
    color: var(--primary-color-500);

    text-wrap: wrap;
    @media (max-width: 420px) {
      font-size: 0.875rem;
    }
  }

  .card__author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .card__author__avatar {
    width: 2rem;
  }
  .card__author__name {
    font-weight: var(--fw-bold);
    font-size: var(--fz-subtext);

    @media (max-width: 420px) {
      font-size: 0.875rem;
    }
  }
}
